table {
    width: 100%;
    text-align: left;
    font-size: $tbl-fnt-size;
    border-collapse: collapse;

    > caption {
        text-align: center;
        font-family: $tbl-caption-fnt-family;
        font-size: map-get($heading-fnt-size, h2);
        font-weight: 700;
        padding: 5px;
        color: $yellow;
        margin-bottom: 20px;
    }
    thead tr th{
        background-color: darken($blue, 20);
        color: $white;
        font-size: 1.3rem;
    }
    > thead, > tbody {
        >tr{
            color: $tbl-color;
            background-color: $dark-blue;

            &:nth-child(odd){
                background-color: $blue;
            }
            &:hover{
                background-color: $tbl-hover-bg-color;
            }
            th, td{
                padding: 10px;
                border-bottom: 1px dotted $dark-blue;
            }
        }
    }
}
